<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    <script src="https://use.fontawesome.com/b57a16f16d.js"></script>
</head>
<style>
    body{
        background-color: #4e6472 ;
    }
    div.navbar-brand{
        background-color: #36454f;
    }
</style>
<body>
<a href="/">Show All Messages</a><br />

Message :<span th:text="${message.content}"></span>
Posted Date:<span th:text="${message.posteddate}"></span>
Sent By:<span th:text="${message.sentby}"></span>
<a href="/add">Add a Message</a>


</body>
</html>